<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!-- 1、配置自定控制器扫描路径 -->
    <!--这里配置的是controller的路径-->
    <context:component-scan base-package="com.qf.controller"></context:component-scan>
    <!-- 2、配置静态资源处理 -->
    <mvc:default-servlet-handler />
    <!-- 3、配置注解驱动 -->
    <mvc:annotation-driven>
        <!--配置消息转换器-->
        <mvc:message-converters>
            <!--字符集编码配置-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--4、配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".html"></property>
    </bean>

    <bean name="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <property name="maxUploadSize" value="10485760"/>

        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>

    <!--配置拦截器集合-->
    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash;配置登录拦截器&ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/*.html"/>-->
            <!--<bean class="com.qf.filter.LoginFilter"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->


</beans>
