<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.UserInfoMapper">


<insert id="register" parameterType="com.qf.pojo.UserInfo">
        insert into buyer(userId,userName,password,email,
        phone,portrait,status,idNumber)
        value (DEFAULT ,#{userId},#{userName},#{password},#{email},
        #{phone},#{portrait},#{status},#{idNumber})
    </insert>
</mapper>
